Xft.dpi:96
Xft.antialias:1
Xft.autohint: 0
Xft.hinting:1
Xft.hintstyle:hintslight
!Xft.hintstyle:hintfull
Xft.rgba:rgb
Xft.lcdfilter:lcddefault


! general setting
URxvt.multichar_encoding:utf-8
URxvt.termName:rxvt-unicode-256color
URxvt.loginShell:true
URxvt.depth: 32
URxvt.foreground:White
URxvt.background:[80]black
URxvt.geometry:80x25

! urxvt scrollbar
URxvt.scrollBar:true
URxvt.secondaryScroll:true
URxvt.scrollBar_right:true
URxvt.scrollBar_floating:false
URxvt.scrollstyle:plain
URxvt.scrollTtyOutput:True
URxvt.scrollTtyKeypress:True
URxvt.scrollWithBuffer:false
URxvt.scrollColor:#222222

! input
URxvt.inputMethod:fcitx

! urxvt look
URxvt.transparent:false
URxvt.tintColor:grey
URxvt.troughColor:#000000
URxvt.shading:500
URxvt.preeditType:Root
URxvt.borderLess:false

! how many lines you want it to save per session
URxvt.saveLines:65535

! urxvt font
URxvt.font:xft:Monaco:pixelsize=18:style:Regular:antialias=true, \
           xft:文泉驿等宽微米黑:pixelsize=18:style:Regular:antialias=true
URxvt.boldfont:xft:Monaco:pixelsize=18:style:Bold:antialias=true, \
           xft:文泉驿等宽微米黑:pixelsize=18:style:Bold:antialias=true

#include ".Xdefaults.d/colors/molokai"

! misc
URxvt.urgentOnBell: true

! urxvt extension
URxvt.perl-ext-common: default,clipboard
